<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<!--<connectionStrings>
     <add name ="connstr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=@'C:\Users\Mark\Desktop\otherss\Doctors Database V1.0.1\Doctors Database V1.0.1\Doctors.mdf';Integrated Security=True;"/>
</connectionStrings>-->
</configuration>
